*.class
build/
.gradle/
gradle/
.idea/
/build/*
classes/
*.log
/bin/
out/
**/docs
.classpath
.project

/.gradle/*
*/.gradle/*
/gradle/*
*/gradle/*
.settings
.idea
*/.idea/*
*.iml
*.bat
*.cmd
*.sh
!/scripts/**
gradlew
*.ipr
*.iws
rebel.xml
